<!DOCTYPE html>
<html layout:decorator="fragments/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Add New Book</title>
</head>
<body>

<div class="container" layout:fragment="content">

<div  th:if="${bookForm.outHtml != ''}">
    <h1>Preview:</h1>

    <div style="margin-left:20px;">
        <blockquote>

            <div th:utext="${bookForm.outHtml}"> <!--  style="width:48%;float:right;" -->
            </div>

        </blockquote>

        <br/>
        <div> <!--  style="width:48%;float:left;" -->
            <pre style="background:#CCCCCC;padding:5px" th:text="${bookForm.outHtml}"></pre>
        </div>
    </div>
    <br/><br/>
</div>

<h1>Add a new book: </h1>


<form action="" method="post"  th:object="${bookForm}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <p>
        Title : <br/>
        <input th:field="*{title}" type="text"/><br/>
        <input th:field="*{template}" type="hidden"/><br/>
        Doc Book : <br/>
        <textarea  th:field="*{xmlCode}" class="templateCodeArea" rows="8" style="width:100%"></textarea>
    </p>
    <br/><br/>
    <button name="action" value="save">Save</button>
    <button name="action" value="test">Test</button>

</form>
<br/>

<a href="/admin/">Back to Administration Home</a>
<br/>
<br/>



</div>


</body>
</html>

<script src="/js/jquery/jquery-1.8.3.min.js"></script>
<script src="/js/ace/ace.js"></script>
<script src="/js/ace/theme-textmate.js"></script>
<script src="/js/ace/mode-html.js"></script>
<script src="/js/jquery-ace.min.js"></script>
<script>
  $('.templateCodeArea').ace({ theme: 'textmate', lang: 'html' })
</script>